<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjxy.smart.mapper.GoodsStoreMapper">
  <resultMap id="BaseResultMap" type="com.zjxy.smart.model.GoodsStore">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="store_no" jdbcType="VARCHAR" property="storeNo" />
    <result column="goods_no" jdbcType="VARCHAR" property="goodsNo" />
    <result column="goods_price" jdbcType="DECIMAL" property="goodsPrice" />
    <result column="goods_stock" jdbcType="INTEGER" property="goodsStock" />
    <result column="goods_type" jdbcType="VARCHAR" property="goodsType" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>


  <resultMap id="connMap" type="com.zjxy.smart.model.GoodsStore" extends="BaseResultMap">
    <!--一对一关联: 关联goods表 -->
    <association property="goods">
      <id column="gid" jdbcType="INTEGER" property="id" />
      <result column="ggoods_no" jdbcType="VARCHAR" property="goodsNo" />
      <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
      <result column="category_id" jdbcType="INTEGER" property="categoryId" />
      <result column="goods_introduce" jdbcType="VARCHAR" property="goodsIntroduce" />
      <result column="goods_content" jdbcType="VARCHAR" property="goodsContent" />
      <result column="goods_state" jdbcType="INTEGER" property="goodsState" />
      <result column="goods_picture" jdbcType="VARCHAR" property="goodsPicture" />
      <result column="goods_market_price" jdbcType="DECIMAL" property="goodsMarketPrice" />
      <result column="gcreate_time" jdbcType="TIMESTAMP" property="createTime" />
      <result column="gupdate_time" jdbcType="TIMESTAMP" property="updateTime" />
    </association>
    <!--一对一关联: 关联Store表 -->
    <association property="store">
      <id column="sid" jdbcType="INTEGER" property="id" />
      <result column="area_id" jdbcType="INTEGER" property="areaId" />
      <result column="sstore_no" jdbcType="VARCHAR" property="storeNo" />
      <result column="store_name" jdbcType="VARCHAR" property="storeName" />
      <result column="store_address" jdbcType="VARCHAR" property="storeAddress" />
      <result column="max_longitude" jdbcType="DOUBLE" property="maxLongitude" />
      <result column="max_latitude" jdbcType="DOUBLE" property="maxLatitude" />
      <result column="min_longitude" jdbcType="DOUBLE" property="minLongitude" />
      <result column="min_latitude" jdbcType="DOUBLE" property="minLatitude" />
      <result column="longitude" jdbcType="DOUBLE" property="longitude" />
      <result column="latitude" jdbcType="DOUBLE" property="latitude" />
      <result column="store_introduce" jdbcType="VARCHAR" property="storeIntroduce" />
      <result column="start_time" jdbcType="TIME" property="startTime" />
      <result column="close_time" jdbcType="TIME" property="closeTime" />
      <result column="store_status" jdbcType="INTEGER" property="storeStatus" />
      <result column="screate_time" jdbcType="TIMESTAMP" property="createTime" />
      <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </association>
  </resultMap>

  <sql id="Base_Column_List">
    id, store_no, goods_no, goods_price, goods_stock, goods_type, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from goods_store
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from goods_store
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zjxy.smart.model.GoodsStore">
    insert into goods_store (id, store_no, goods_no, 
      goods_price, goods_stock, goods_type, 
      create_time, update_time)
    values (#{id,jdbcType=INTEGER}, #{storeNo,jdbcType=VARCHAR}, #{goodsNo,jdbcType=VARCHAR}, 
      #{goodsPrice,jdbcType=DECIMAL}, #{goodsStock,jdbcType=INTEGER}, #{goodsType,jdbcType=VARCHAR},
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zjxy.smart.model.GoodsStore">
    insert into goods_store
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="storeNo != null">
        store_no,
      </if>
      <if test="goodsNo != null">
        goods_no,
      </if>
      <if test="goodsPrice != null">
        goods_price,
      </if>
      <if test="goodsStock != null">
        goods_stock,
      </if>
      <if test="goodsType != null">
        goods_type,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="storeNo != null">
        #{storeNo,jdbcType=VARCHAR},
      </if>
      <if test="goodsNo != null">
        #{goodsNo,jdbcType=VARCHAR},
      </if>
      <if test="goodsPrice != null">
        #{goodsPrice,jdbcType=DECIMAL},
      </if>
      <if test="goodsStock != null">
        #{goodsStock,jdbcType=INTEGER},
      </if>
      <if test="goodsType != null">
        #{goodsType,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zjxy.smart.model.GoodsStore">
    update goods_store
    <set>
      <if test="storeNo != null">
        store_no = #{storeNo,jdbcType=VARCHAR},
      </if>
      <if test="goodsNo != null">
        goods_no = #{goodsNo,jdbcType=VARCHAR},
      </if>
      <if test="goodsPrice != null">
        goods_price = #{goodsPrice,jdbcType=DECIMAL},
      </if>
      <if test="goodsStock != null">
        goods_stock = #{goodsStock,jdbcType=INTEGER},
      </if>
      <if test="goodsType != null">
        goods_type = #{goodsType,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zjxy.smart.model.GoodsStore">
    update goods_store
    set store_no = #{storeNo,jdbcType=VARCHAR},
      goods_no = #{goodsNo,jdbcType=VARCHAR},
      goods_price = #{goodsPrice,jdbcType=DECIMAL},
      goods_stock = #{goodsStock,jdbcType=INTEGER},
      goods_type = #{goodsType,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selByNo" parameterType="com.zjxy.smart.model.GoodsStore" resultMap="BaseResultMap">
    select id, store_no, goods_no, goods_price, goods_stock, goods_type, create_time, update_time
    from goods_store
    where store_no=#{storeNo} and goods_no=#{goodsNo}
  </select>
  <select id="selByStore" parameterType="com.zjxy.smart.form.GoodsStoreForm" resultMap="connMap">
    select gs.id,gs.store_no,gs.goods_no,gs.goods_price,gs.goods_stock,gs.goods_type,gs.create_time,gs.update_time,
    g.id gid, g.goods_no ggoods_no, g.goods_name, g.category_id, g.goods_introduce, g.goods_content, g.goods_state,g.goods_picture,
    g.goods_market_price, g.create_time gcreate_time, g.update_time gupdate_time
    from goods_store gs
    inner join goods g on gs.goods_no=g.goods_no
    where store_no=#{storeNo}
    <if test="goodsName != null and goodsName !=''">
      and g.goods_name like concat('%',#{goodsName},'%')
    </if>
    <if test="goodsContent != null and goodsContent != ''">
      and g.goods_content=#{goodsContent}
    </if>
    order by gs.create_time desc
  </select>

  <select id="selAll" parameterType="com.zjxy.smart.form.GoodsStoreForm" resultMap="connMap">
    select gs.id,gs.store_no,gs.goods_no,gs.goods_price,gs.goods_stock,gs.goods_type,gs.create_time,gs.update_time,
    g.id gid, g.goods_no ggoods_no, g.goods_name, g.category_id, g.goods_introduce, g.goods_content, g.goods_state,g.goods_picture,
    g.goods_market_price, g.create_time gcreate_time, g.update_time gupdate_time,s.id sid, s.area_id, s.store_no sstore_no, s.store_name, s.store_address,
    s.max_longitude, s.max_latitude, s.min_longitude,s.min_latitude, s.longitude, s.latitude, s.store_introduce, s.start_time, s.close_time, s.store_status,
    s.create_time screate_time, s.update_time
    from goods_store gs
    inner join goods g on gs.goods_no=g.goods_no
    inner join store s on gs.store_no=s.store_no
    <where>
      <if test="storeName != null and storeName!=''">
        and s.store_name like concat('%',#{storeName},'%')
      </if>
      <if test="goodsName != null and goodsName !=''">
        and g.goods_name like concat('%',#{goodsName},'%')
      </if>
      <if test="goodsContent != null and goodsContent != ''">
        and g.goods_content=#{goodsContent}
      </if>
    </where>
    order by gs.create_time desc
  </select>

</mapper>