<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjxy.smart.mapper.OrdersMapper">
  <resultMap id="BaseResultMap" type="com.zjxy.smart.model.Orders">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="total_price" jdbcType="DOUBLE" property="totalPrice" />
    <result column="payment_type" jdbcType="INTEGER" property="paymentType" />
    <result column="payment_subtype" jdbcType="INTEGER" property="paymentSubtype" />
    <result column="delivery_type" jdbcType="INTEGER" property="deliveryType" />
    <result column="order_state" jdbcType="INTEGER" property="orderState" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="rec_name" jdbcType="VARCHAR" property="recName" />
    <result column="rec_address" jdbcType="VARCHAR" property="recAddress" />
    <result column="rec_phone" jdbcType="VARCHAR" property="recPhone" />
  </resultMap>
  <sql id="Base_Column_List">
    id, order_no, user_id, total_price, payment_type, payment_subtype, delivery_type, 
    order_state, create_time, update_time, rec_name, rec_address, rec_phone
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from orders
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from orders
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zjxy.smart.model.Orders">
    insert into orders (id, order_no, user_id, 
      total_price, payment_type, payment_subtype, 
      delivery_type, order_state, create_time, 
      update_time, rec_name, rec_address, 
      rec_phone)
    values (#{id,jdbcType=INTEGER}, #{orderNo,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, 
      #{totalPrice,jdbcType=DOUBLE}, #{paymentType,jdbcType=INTEGER}, #{paymentSubtype,jdbcType=INTEGER}, 
      #{deliveryType,jdbcType=INTEGER}, #{orderState,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{recName,jdbcType=VARCHAR}, #{recAddress,jdbcType=VARCHAR}, 
      #{recPhone,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zjxy.smart.model.Orders">
    insert into orders
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orderNo != null">
        order_no,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="totalPrice != null">
        total_price,
      </if>
      <if test="paymentType != null">
        payment_type,
      </if>
      <if test="paymentSubtype != null">
        payment_subtype,
      </if>
      <if test="deliveryType != null">
        delivery_type,
      </if>
      <if test="orderState != null">
        order_state,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="recName != null">
        rec_name,
      </if>
      <if test="recAddress != null">
        rec_address,
      </if>
      <if test="recPhone != null">
        rec_phone,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderNo != null">
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="totalPrice != null">
        #{totalPrice,jdbcType=DOUBLE},
      </if>
      <if test="paymentType != null">
        #{paymentType,jdbcType=INTEGER},
      </if>
      <if test="paymentSubtype != null">
        #{paymentSubtype,jdbcType=INTEGER},
      </if>
      <if test="deliveryType != null">
        #{deliveryType,jdbcType=INTEGER},
      </if>
      <if test="orderState != null">
        #{orderState,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="recName != null">
        #{recName,jdbcType=VARCHAR},
      </if>
      <if test="recAddress != null">
        #{recAddress,jdbcType=VARCHAR},
      </if>
      <if test="recPhone != null">
        #{recPhone,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zjxy.smart.model.Orders">
    update orders
    <set>
      <if test="orderNo != null">
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="totalPrice != null">
        total_price = #{totalPrice,jdbcType=DOUBLE},
      </if>
      <if test="paymentType != null">
        payment_type = #{paymentType,jdbcType=INTEGER},
      </if>
      <if test="paymentSubtype != null">
        payment_subtype = #{paymentSubtype,jdbcType=INTEGER},
      </if>
      <if test="deliveryType != null">
        delivery_type = #{deliveryType,jdbcType=INTEGER},
      </if>
      <if test="orderState != null">
        order_state = #{orderState,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="recName != null">
        rec_name = #{recName,jdbcType=VARCHAR},
      </if>
      <if test="recAddress != null">
        rec_address = #{recAddress,jdbcType=VARCHAR},
      </if>
      <if test="recPhone != null">
        rec_phone = #{recPhone,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zjxy.smart.model.Orders">
    update orders
    set order_no = #{orderNo,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      total_price = #{totalPrice,jdbcType=DOUBLE},
      payment_type = #{paymentType,jdbcType=INTEGER},
      payment_subtype = #{paymentSubtype,jdbcType=INTEGER},
      delivery_type = #{deliveryType,jdbcType=INTEGER},
      order_state = #{orderState,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      rec_name = #{recName,jdbcType=VARCHAR},
      rec_address = #{recAddress,jdbcType=VARCHAR},
      rec_phone = #{recPhone,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selByUser" parameterType="com.zjxy.smart.form.OrdersForm" resultMap="BaseResultMap">
    select distinct o.id, o.order_no, o.user_id, o.total_price, o.payment_type, o.payment_subtype, o.delivery_type,
    o.order_state, o.create_time, o.update_time, o.rec_name, o.rec_address, o.rec_phone from orders o
    inner join order_detail od on o.order_no=od.order_no
    inner join goods g on od.goods_no=g.goods_no
    where user_id=#{userId} and g.goods_name like concat('%',#{goodsName},'%')
    order by create_time desc
  </select>
</mapper>