# Dependencies
node_modules/
.pnpm-store/

# Build output
dist/
.vite/
.vite-temp/
uploads/

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Env files
.env.local
.env.*.local

./comefromteacher
